body
    background-color: red;
    padding-top: 61px;


.navbar-header a.navbar-brand
    //margin-top -10px
    //margin-bottom -20px
    height auto

a.navbar-brand 
    padding 10px 15px

    h6 
        color #ccc
        margin-bottom 0px

footer 
    padding 0 15px

    p
        border-top 1px solid #d7e0e2