body
    //background-color:;
    padding-top: 61px

.navbar
    background: #0f96ba

.navbar-brand
    font-size: 23px

.navbar-header a.navbar-brand
    //margin-top -10px
    //margin-bottom -20px
    height auto
    color: #000

.navbar-inverse .navbar-nav > li > a:hover
    color:#ccc

.navbar-inverse .navbar-nav > li > a
    color:#fff

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
    color:#000

a.navbar-brand 
    padding 15px 15px
    font-weight: bold
    color: #000

    h6 
        color #ccc
        margin 6px 0 0 5px

footer 
    padding 0 15px

    p
        border-top 1px solid #d7e0e2
        padding-top 5px

.navbar-form
    margin-top: 17px
    .form-group
        margin-left 10px
    button 
        margin-left 10px

@media (min-width: 768px)
    .navbar-nav > li > a 
        padding-top: 22px
        padding-bottom: 27px

#toast-container
    position: absolute
    bottom: 0px
    margin-bottom 58px