extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") MultiVision
                    h6 -Extrem Tech Training
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/courses") Courses
                div#main-top-navbar(ng-include="'/partials/account/navbar-login'")
    section.content
        //h1 hello My new World
        div(ng-view)
    //h2= mongoMessage

    footer.container.text-center
        p &copy; 2014 MultiVision Corp International Ltd.