doctype html
html
    head
        meta(http-equiv="content-type", content="charset=UTF-8")
        title My MEAN site
        include stylesheets
    body(ng-app='app')
        block main-content
        include scripts