link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css")
link(rel="stylesheet", href="/vendor/toastr/toastr.min.css" type="text/css")
link(rel="stylesheet", href="/css/site.css" type="text/css")